body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #0d1117;
  color: #ccc;
}
.page-title {
  font-weight: bold;
  font-family: "monospace";
}

a {
  color: #3395ff;
}
a:hover {
  text-decoration: none;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  background: #16191c;
  margin: 0-1rem;
  padding:0 1rem;
}
