@font-face {
  font-family: "Roboto Mono";
  src: url('assets/fonts/roboto-mono/roboto-mono-normal.woff2') format('woff2'),
       url('assets/fonts/roboto-mono/roboto-mono-normal.woff') format('woff'),
       url('assets/fonts/roboto-mono/roboto-mono-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url('assets/fonts/roboto-mono/roboto-mono-bold.woff2') format('woff2'),
       url('assets/fonts/roboto-mono/roboto-mono-bold.woff') format('woff'),
       url('assets/fonts/roboto-mono/roboto-mono-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body > p {
  width: 90%;
  font-size: 1.4em;
  text-align: justify;
  text-justify: inter-character;
}

@media screen and (max-width: 80em) {
  body > p { font-size: 1.2em; }
}
@media screen and (max-width: 60em) {
  body > p { font-size: 1.0em; }
}
@media screen and (max-width: 50em) {
  body > p { font-size: 0.9em; }
}
@media screen and (max-width: 380px) {
  body > p { font-size: 0.8em; }
}
@media screen and (max-width: 350px) {
  body > p { font-size: 0.7em; }
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #111111;
  color: #ccc;
}

.page-title {
  font-weight: bold;
  text-decoration: none;
}
.page-title:hover {
  color: #eaeaea;
}

a {
  color: #eaeaea;
}
a:hover {
  color: grey;
  text-decoration: none;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  background: #16191c;
  margin: 0 1rem;
  padding:0 1rem;
}
